@import "../base/listas";

label {
    font-family: 'Roboto', sans-serif;
    text-align: map-get($map:$textStyles , $key:textJustify );
    font-size: 20px;
}
 
.btn-primary {
    background-color: black;
    &:hover {
        background-color: nth($colores, 6);
    }
}